<mat-toolbar color="primary" class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <img src="assets/icons/white-logo.svg" alt="Vortex Logo" class="logo" />
      <p>Adéntrate en lo desconocido!</p>
      <p>Síguenos en:</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>

    <div class="footer-section">
      <h3>Soluciones</h3>
      <ul>
        <li><a href="#">Suscripciones</a></li>
        <li><a href="#">Análisis</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Soporte</h3>
      <ul>
        <li><a href="#">Documentación</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Suscríbete</h3> <br>
      <p>¿Quieres unirte a nosotros?</p>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Email address">
        <button mat-icon-button matSuffix>
          <mat-icon>mail</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</mat-toolbar>

<div class="footer-bottom">
  <p>© 2024 Vortex – All Rights Reserved</p>
</div>
