<footer class="footer">
  <div class="footer-content">
    <section class="footer-section brand">
      <img src="assets/icons/white-logo.svg" alt="Vortex Logo" class="logo" />
      <p>{{ 'footer.enter-to-the-unknown' | translate }}</p>
      <nav class="social-icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </nav>
    </section>

    <section class="footer-section">
      <h3>{{ 'footer.solutions' | translate }}</h3>
      <ul>
        <li><a href="#">{{ 'footer.subscription.plural' | translate }}</a></li>
        <li><a href="#">{{ 'footer.analysis' | translate }}</a></li>
      </ul>
    </section>

    <section class="footer-section">
      <h3>{{ 'footer.support' | translate }}</h3>
      <ul>
        <li><a href="#">{{ 'footer.documentation' | translate }}</a></li>
        <li><a href="#">{{ 'footer.contact' | translate }}</a></li>
      </ul>
    </section>

    <section class="footer-section">
      <h3>{{ 'footer.subscription.subscribe' | translate }}</h3>
      <p>{{ 'footer.do you want to join us' | translate }}</p>
      <mat-form-field appearance="outline">
        <input matInput [placeholder]="'footer.email-address' | translate ">
        <button mat-icon-button matSuffix>
          <mat-icon>mail</mat-icon>
        </button>
      </mat-form-field>
    </section>
  </div>

  <div class="footer-bottom">
    <p>© 2024 Vortex – {{ 'footer.all-rights-reserved' | translate }}</p>
  </div>

  <!-- Botón para volver al principio -->
  <button class="scroll-to-top" (click)="scrollToTop()">&#8679;</button>
</footer>
