<div class="register-container">
  <mat-card class="register-card" appearance="outlined">
    <mat-card-header class="card-header">

      <img mat-card-sm-image src="/assets/vortex_icon.png" class="register-logo" >


    </mat-card-header>
    <mat-card-title-group class="titles-container">
      <mat-card-title>Vortex</mat-card-title>
      <mat-card-subtitle>Sign Up</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <form>
        <name-input></name-input>
        <email-input class="email-input"></email-input>
        <password-input></password-input>
        <button mat-raised-button class="register-button" >Register</button>
      </form>
      <p>Already have an account </p><a href="">Sign In</a>
    </mat-card-content>
  </mat-card>
</div>
