<mat-toolbar class="header">
  <div class="container">
    <div>
      <img src="assets/vortex_icon.png" alt="vortex logo" class="logo-image">
    </div>
    <div>
      <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Home"></mat-tab>
        <mat-tab label="About"></mat-tab>
        <mat-tab label="Contact"></mat-tab>
        <mat-tab label="Subscriptions"></mat-tab>
      </mat-tab-group>
    </div>
    <div>
      <button class="button-login">
        <a routerLink=".">
          <mat-icon>login</mat-icon>
          Login
        </a>
      </button>

      <button class="button-profile">
        <a routerLink="/profile">
          <mat-icon>account_circle</mat-icon>
          Profile
        </a>
      </button>

    </div>
  </div>
</mat-toolbar>
