<div class="about-container">
  <div class="about-header">
    <img src="assets/icons/vortex_icon.svg" alt="Logo" class="about-logo" />
    <h1>About Us</h1>
    <p>Teemo Solutions es una startup que conecta a los gamers con los videojuegos que realmente les interesan. Con nuestro producto principal, Vortex, hemos creado una plataforma web donde los jugadores pueden descubrir nuevos títulos basados en sus gustos, conectar con amigos y recibir recomendaciones personalizadas.</p>
  </div>
  <div class="about-content">
    <section class="about-section">
      <h2>Our Mission</h2>
      <p>"Conectar a los gamers con videojuegos que realmente les apasionen, facilitando el descubrimiento de nuevos títulos y conexiones sociales a través de recomendaciones personalizadas. Ofrecemos una plataforma donde tanto jugadores como desarrolladores de videojuegos pueden beneficiarse, brindando acceso a contenido promocionado y opciones de suscripción para mejorar la experiencia de los usuarios. Nos impulsa la pasión por los videojuegos y el deseo de ayudar a los gamers a encontrar su próximo título favorito."</p>
    </section>
    <section class="about-section">
      <h2>Our Team</h2>
      &nbsp;
      <div class="team-grid">
        <div class="team-member">
          <img src="assets/members/fernando-photo.png" alt="Fernando" class="team-photo" />
          <h4>Fernando</h4>
          <p>Founder & CEO</p>
        </div>
        <div class="team-member">
          <img src="assets/members/yasser-photo.png" alt="Yasser" class="team-photo" />
          <h4>Yasser</h4>
          <p>Founder & CEO</p>
        </div>
        <div class="team-member">
          <img src="assets/members/andres-photo.png" alt="Andres" class="team-photo" />
          <h4>Andres</h4>
          <p>Founder & CEO</p>
        </div>
        <div class="team-member">
          <img src="assets/members/jose-photo.png" alt="Jose" class="team-photo" />
          <h4>Jose</h4>
          <p>Founder & CEO</p>
        </div>
        <div class="team-member">
          <img src="assets/members/vicente-photo.png" alt="Vicente" class="team-photo" />
          <h4>Vicente</h4>
          <p>Founder & CEO</p>
        </div>
        <!-- Add more team members as needed -->
      </div>
    </section>
    <section class="about-section">
      <h2>Contact Us</h2>
      <p>If you have any questions, feel free to <a href="example@vortex.com">contact us</a>.</p>
    </section>
  </div>
</div>
